.ultra-bux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blox-super{
    width: 600px;
    height: 600px;
    background-color: black;
    color: white;
    margin: 10px;
    margin-top: 75px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 12px;
    padding: 10px;
    transition: 2s;
    box-shadow: 0 0 30px rgb(194, 194, 194);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.blox-super h1{
    font-family: Quantico, sans-serif;
    font-size: 75px;
    font-weight: 700;
    background: linear-gradient(white, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tlacitecko {
    background: linear-gradient(white, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    width: 50%;
    padding: 12px 20px;
    margin-top: 15px;
    font-size: 16px;
    font-family: "Quantico", sans-serif;
    background-color: #222;
    color: white;
    border: 2px solid #555;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inputy{
    width: 80%;
    padding: 12px 15px;
    margin: 10px 0;
    font-family: "Quantico", sans-serif;
    background-color: #222;
    border: 2px solid #555;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}


.inputy::placeholder{
    background: linear-gradient(gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tlacitecko:active{
    box-shadow: inset 5px 5px 10px gray, inset -5px -5px 10px white;
}

.tlacitecko:hover {
    background-color: #333;
    border-color: white;
}