.ultra-bux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blox-super{
    width: 300px;
    height: 310px;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
    transition: 2s;
    box-shadow: 0 0 30px rgb(194, 194, 194);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.tlacitecko {
    background: linear-gradient(white, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.inputy{
padding: 15px;
margin: 15px;
font-size: 15px;
border: none;
outline: none;
margin-bottom: 10px;
border: none;
border: 3px solid rgb(194, 194, 194);
}


.inputy::placeholder{
    background: linear-gradient(gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tlacitecko:active{
    box-shadow: inset 5px 5px 10px gray, inset -5px -5px 10px white;
}
